# ---- Python ----
venv/
env/
*.pyc
__pycache__/
*.pkl

# ---- Environment Files ----
.env
.env.*  
*.env

# ---- Node / React ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---- IDE / Editor ----
.vscode/
.DS_Store

# ---- Uploads / Temp ----
UploadedPdfs/
__pycache__/
